@import '~styles/functions/px-to-rem';
@import '~styles/mixins';
@import '~styles/variables';

.footer {
  
  @include element(logo) {
    height: px-to-rem(141);
    margin: 0 auto;
    text-align: center;
    width: px-to-rem(200);
  }

  @include element(bottom) {
    background: var(--dark);
    padding: px-to-rem(15) 0;
  }

  @include element(top) {
    padding: px-to-rem(15) 0;
  }

  @include element(copyright) {
    color: var(--white);
    text-align: center;
  }

}