@import '~styles/functions/px-to-rem';
@import '~styles/mixins';
@import '~styles/variables';

.header {
  display: flex;
  justify-content: space-between;
  background: var(--white);
  border-bottom: 1px solid #6c6c6c1f;
  width: 100%;

  @include element(user-menu) {
    align-items: center;
    display: flex;
    padding: 0 px-to-rem(16);
  }
}