@mixin background-cover() {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@mixin serif-font() {
  font-family: 'Lora', 'Times New Roman', serif;
}

@mixin sans-serif-font() {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@mixin min-height() {
  min-height: -webkit-calc(100vh - 181px);
  min-height:    -moz-calc(100vh - 181px);
  min-height:         calc(100vh - 181px);
}