@mixin button() {
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 1rem;
  text-align: center;
  text-decoration: none !important;
  text-transform: uppercase;
  transition: all 0.2s ease-out;
}