@import '~styles/functions/px-to-rem';
@import '~styles/mixins';
@import '~styles/variables';

$pos: calc(50% - 24px);

.imgLoader {
  height: 100%;
  left: 0;
  object-fit: contain;
  position: absolute;
  top: 0;
  width: 100%;
}

.imgLoader__spinner {
  left: $pos;
  position: absolute;
  right: 0;
  top: $pos;
}