@import '~styles/functions/px-to-rem';
@import '~styles/mixins';
@import '~styles/variables';

.home {

  @include element(title) {
    text-align: center;
    margin: px-to-rem(10) 0;
  }

  @include element(products) {
    display: flex;
    justify-content: space-around;
  }

  @include element(product-card) {}
}