@import '~styles/functions/px-to-rem';
@import '~styles/mixins';
@import '~styles/variables';

.home {

  @include element(title) {
    text-align: center;
    margin: px-to-rem(10) 0;
  }

  @include element(loader) {
    align-items: center;
    display: flex;
    justify-content: center
  }

}