.product-card {
  position: relative;
}

.product-card--overlay {
  &:hover {
    .product-card__overlay {
      opacity: 0.4;
    }

    .product-card__description {
      opacity: 1;
    }
  }
}

.product-card__image {
  cursor: pointer;
}

.product-card__overlay {
  background: #000000;
  opacity: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: opacity 0.3s ease;
  width: 100%;
}

.product-card__description {
  color: #505050;
  text-align: center;
  font-size: 18px;
}

.product-card__description--overlay {
  align-items: center;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  opacity: 0;
  position: absolute;
  text-align: center;
  top: 0;
  transition: bottom 0.3s ease;
  width: 100%;
}