@import '../../assets/scss/mixins';
@import '../../assets/scss/variables';

// Styling for the masthead
.rmHeader__masthead {
  // TIP: Background images are set within the HTML using inline CSS!
  margin-bottom: 50px;
  background: no-repeat center center;
  background-color: #dddddd;
  background-attachment: scroll;
  position: relative;
  @include background-cover;

  .rmHeader__overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #dddddd;
    opacity: 0.5;
  }

  .rmHeader__page-heading,
  .rmHeader__post-heading,
  .rmHeader__site-heading {
    padding: 126px 0 150px;
    color: white;

    @media only screen and (min-width: 768px) {

      padding: 126px 0;

    }

  }

  .rmHeader__page-heading,
  .rmHeader__site-heading {
    text-align: center;

    h1 {
      font-size: 50px;
      margin-top: 0;
    }

    .rmHeader__subheading {
      font-size: 24px;
      font-weight: 300;
      line-height: 1.1;
      display: block;
      margin: 10px 0 0;
      @include sans-serif-font;
    }

    @media only screen and (min-width: 768px) {

      h1 {
        font-size: 80px;
      }

    }

  }

}