@import '~styles/functions/px-to-rem';
@import '~styles/mixins';
@import '~styles/variables';

$sidebar-width: px-to-rem(300);

.sidebar {
  background: var(--white);
  position: fixed;
  top: 0;
  height: 100%;
  padding: 1rem;
  transition: left .3s, right .3s, transform .3s;
  width: $sidebar-width;
  z-index: 10;

  @include modifier(left) {
    left: #{-$sidebar-width};
  }

  @include modifier(right) {
    right: #{-$sidebar-width};
  }

  @include modifier(open-left) {
    left: 0;
  }

  @include modifier(open-right) {
    right: 0;
  }

  @include element(overlay) {
    background: rgba(0, 0, 0, .6);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;

    @include modifier(fade-in) {
      animation: fadeIn .4s linear forwards;
    }

    @include modifier(fade-out) {
      animation: fadeOut .4s linear forwards;
    }
  }

  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  @keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }

  @include element(header) {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: px-to-rem(30);
  }

  @include element(close) {
    background: transparent;
    border: none;
    cursor: pointer;
  }

  @include element(title) {
    text-transform: capitalize;
    margin: 0;
  }
}