.movieCard {
  margin-bottom: 1.5em;
  width: 20rem;
}

.movieCard__title {
  height: 60px;
}

.movieCard__content {
  max-height: 4rem;
  overflow: hidden;
}

.movieCard__text-clamp {
  -webkit-line-clamp: 3;
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}